@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&family=Zen+Dots&display=swap');
@import "tailwindcss";

@theme {
	--color-primary: #1B3C53;
	--color-secondary: #456882;
	--color-accent: #D2C1B6;
	--color-surface: #F9F3EF;
}

/* Base app background/text */
html, body, #root {
	background-color: var(--color-surface);
	color: rgb(31 41 55); /* Tailwind gray-800 */
	min-height: 100%;
	font-family: "Lexend", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Zen Dots", cursive;
}

